<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>
            {% block title %}Welcome!{% endblock %}
        </title>
        {% block stylesheets %}{% endblock %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    </head>
    <body class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
            <a class="navbar-brand" href="#">Intranet</a>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">

                    {% if app.user %}
                        <!-- SI UTILISATEUR EST CO -->

                        {% if "ROLE_STUDENT" in app.user.roles %}
                            <!-- SI UTILISATEUR A LE ROLE STUDENT -->
                            <li class="nav-item">
                                <a class="nav-link" href="{{path('grades_index')}}">My Grades</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{path('courses_index')}}">My Courses</a>
                            </li>
                             <li class="nav-item">
                            <a href="{{path('grades_index')}}" class="badge badge-secondary">{{app.user.username}}</a>
                        </li>
                        </ul>
                    {% else %}
                        <!-- SI UTILISATEUR A PAS LE ROLE STUDENT -->
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="{{path('courses_index')}}">List student</a>
                            </li>
                            <li class="nav-item">
                            <a href="{{path('grades_index')}}" class="badge badge-warning">{{app.user.username}}</a>
                        </li>
                        </ul>
                    {% endif %}
                    <!-- FIN IF ROLE STUDENT-->
                    <ul class="nav justify-content-end">
                        <li class="nav-item">
                            <a class="nav-link" href="{{path('app_logout')}}">Logout</a>
                        </li>
                    </ul>

                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{path('app_login')}}">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{path('app_register')}}">Register</a>
                    </li>
                {% endif %}

            </div>
        </nav>

        {% block footer %}
        </p>
    {% endblock %}
    {% block body %}{% endblock %}
    {% block javascripts %}
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    {% endblock %}
</body>
</html>